.superInput {
  background-color: #3cbc8d;
  color: white;
}

.superInput:focus {
  border: 3px solid #555;
  background-color: lightblue;
}
.errorInput {
  border: 3px solid red;
  background-color: #3cbc8d;
  color: white;
}

.error {
  color: red;
}

.testSpanError {
  background-color: #ff00c8;
}

.divError {
  width: 100px;
  height: 25px;
}
